@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

@font-face {
  font-family: "Pixer";
  src: url("/fonts/Pixer-Regular.eot");
  src: url("/fonts/Pixer-Regular.woff2") format('woff2'),
  url("/fonts/Pixer-Regular.woff") format('woff'),
  url("/fonts/Pixer-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


